body{
    background-color: grey;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
    
    text-align: center !important;
    gap: 2rem;
}
span{
    font-weight: bold;
}
.card{
    border-radius: 5px;
    background-color: whitesmoke;
    width:20rem;
    height: 25rem;
   
}
.flag{
    justify-content: center;
    place-content: center;
    text-align: center;
    width:5rem;
    height: 5rem;
    margin:auto;
}
